.ir-container {
  margin-top: 6rem;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
}

.c2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c1 {
  background-color: rgb(255, 255, 255);
}

.c3 > h1 {
  margin: 0;
  font-size: 28px;
}

.c3 > p {
  margin: 0;
  font-size: 14px;
  color: rgb(75, 75, 75);
}

.red {
  background-color: red;
  color: white;
}
.green {
  background-color: rgb(71, 205, 71);
  color: white;
}
.orange {
  background-color: orange;
  color: white;
}

.c4 > p {
  border: 1px solid rgb(203, 203, 203);
  width: max-content;
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
}

.c4 > p > i {
  margin: 4px;
  font-size: 16px;
}

.c5 {
  margin: 10px;
  font-size: 14px;
}

.c5 > p {
  margin: 0;
  color: rgb(75, 75, 75);
}

.hr-hr {
  border: 1px solid grey !important;
  width: 100% !important;
}

.food-item-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 6px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 300ms ease-in-out;
}

.food-item-container:hover {
  transform: scale(1.02);
  transition: transform 300ms ease-in-out;
}

.food-item-container > img {
  width: 100%;
  border-radius: 6px;
}

.food-item-container > div > p {
  font-size: 10px;
  margin: 5px;
}

.food-item-container > div > h3 {
  margin: 5px;
}
.food-item-container > div > h5 {
  margin: 5px;
}

.btn-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 4px;
  border-radius: 6px;
  height: 30px;
}

.btn-cart > button {
  border: none;
  width: 80%;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
