.restaurant-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.restaurant-card:hover {
    transform: scale(1.02);
    transition: transform 300ms ease-in-out;
}

.list-of-restro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 2rem
}

.restaurant-card > img {
    width: 100%;
    
}

.Name-container > h4 {
    margin: 5px;
}
.Name-container > p {
    margin: 5px;
    font-size: 13px;
    color: grey;
}

.details-container {
    display: flex;
    flex-direction: row;
    
    
}

.details-container > p {
    font-size: 13px;
    margin: 5px;
}



.red {
    background-color: red;
    padding: 1px 5px 1px 5px;
    color: white;
}
.green {
    background-color:rgb(71, 205, 71);
    padding: 1px 5px 1px 5px;
    color: white;
}
.orange {
    background-color: orange;
    padding: 1px 5px 1px 5px;
    color: white;
}