.header-container {
  background-color: whitesmoke;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.nav-logo > img {
  width: 30px;
  height: 30px;
  margin: 6px;
}

.nav-links > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 10px;
}

.nav-links > ul > li {
  margin: 8px;
}